.sideBar {
    width: 300px;
    background-color: #01294d;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.containerSideBar {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.areaLogo {
    display: flex;
    width: 300px;
    height: 100px;
    align-items: center;
    padding-left: 20px;
    transition: 0.5s;
}

.imgLogoSideBar {

    width: 100px;
    height: 150px;
    object-fit: cover;
}

.areaBotoes {
    border-top: 2px solid #223c52;
    display: flex;
    width: 240px;
    height: 65%;
    flex-direction: column;
    padding: 20px;
    background-color: #01294d;


    gap: 5px
}

.navButton {

    width: 220px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    display: flex;


}

.navButton:hover,
.areaLogo:hover {
    background-color: #30699a;
    box-shadow: 0 0 8px 0 black;
    transition: 0.5s;

}

.areaLogo:hover {
    width: 260px;
    height: 110px;
    border-radius: 20px;
    transition: 0.5s;
}

.sair:hover {

    background-color: #931919fe;
}

.sair {
    margin-top: 100px;
}

.sair button {

    background: none;
    border: 0;
}

@media (max-height: 730px) {

    .sair {
        margin-top: 20px;
    }

}