.formTask{

    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    height: 290px;
}

.areaInputTask{

    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.inputCriarTask{

    width: 60%;
    height: 40px;
}

.inputCheck{

    width: 20px;
    height: 20px;

}

.gridTask{

    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr 1fr 1fr;
    gap: 20px;
    align-items: center;
}

.taskArea{

    
    box-shadow: 0 2px 2px 0 grey;
    

}

.taskArea:hover{

    background-color: rgb(200, 200, 200);
    box-shadow: 0 0 7px 0 black;
}

.labelTask{

    display: flex;
    flex-direction: column;

}
.areaBotoesCriarTask{
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 10px;
}